In [9]:
# Dependencies
from numpy import genfromtxt
from time import time
from datetime import datetime
from sqlalchemy import Column, Integer, Float, Date, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy import Index
from sqlalchemy import MetaData
from sqlalchemy import Table
import csv
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

In [10]:
clean_listings = "clean_listing_data.csv"
clean_listings_df = pd.read_csv(clean_listings, encoding="utf-8", low_memory=False )
clean_listings_df["name"] = clean_listings_df["name"].astype(str)
clean_listings_df["neighbourhood"] = clean_listings_df["neighbourhood"].astype(str)
clean_listings_df.head()

,airbnb_id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,4873463,"Cozy Pied-a-Terre, the Heart of DC",7220554,TheoDora,"Dupont Circle, Connecticut Avenue,K Street",38.915183,-77.039259,"Entire home,apt",95,2,29,1.01,3,53
1,16736650,"Large, welcoming studio in a central location",47945335,Nina,"Dupont Circle, Connecticut Avenue,K Street",38.912580,-77.042721,"Entire home,apt",200,1,2,0.55,1,0
2,14999877,Newly Renovated Apartment in the Heart of DC,10325135,Rory,"Dupont Circle, Connecticut Avenue,K Street",38.917062,-77.035869,"Entire home,apt",100,27,0,0.00,1,0
3,5955860,Spacious Dupont Circle Condo,3873893,Feras,"Dupont Circle, Connecticut Avenue,K Street",38.909815,-77.046124,"Entire home,apt",129,2,79,3.13,2,324
4,15655208,"Luxury historic rowhouse; Adams Morgan,Dupont,...",73613929,Courtney,"Dupont Circle, Connecticut Avenue,K Street",38.916759,-77.040349,"Entire home,apt",500,2,1,1.00,1,81

In [11]:
clean_listings_df.dtypes

airbnb_id                           int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [12]:
clean_crime = "clean_crime_data.csv"
clean_crime_df = pd.read_csv(clean_crime, encoding="utf-8", low_memory=False)

clean_crime_df.head()

,neighbourhood,neighirhood_cluster,number_of_crimes,crime_rate
0,"Brightwood Park, Crestwood, Petworth",Cluster 18,1411,4.314457
1,"Brookland, Brentwood, Langdon",Cluster 22,1244,3.803816
2,"Capitol Hill, Lincoln Park",Cluster 26,1461,4.467343
3,"Capitol View, Marshall Heights, Benning Heights",Cluster 33,923,2.822285
4,"Cathedral Heights, McLean Gardens, Glover Park",Cluster 14,235,0.718567

In [13]:
clean_crime_df.dtypes

neighbourhood           object
neighirhood_cluster     object
number_of_crimes         int64
crime_rate             float64
dtype: object

In [14]:
Base = declarative_base()
class Listings(Base):
    __tablename__ = 'listings_table'
    id = Column(Integer, primary_key=True, nullable=False)
    airbnb_id = Column(Integer)  
    name = Column(String(255))
    host_id = Column(Integer)                         
    host_name = Column(String(255))                        
    neighbourhood = Column(String(255))                  
    latitude = Column(Float)         
    longitude = Column(Float)                         
    room_type = Column(String(255))                        
    price = Column(Integer)                             
    minimum_nights  = Column(Integer)                    
    number_of_reviews  = Column(Integer)                   
    reviews_per_month = Column(Float)               
    calculated_host_listings_count = Column(Integer)     
    availability_365 = Column(Integer)                 
   

engine = create_engine("sqlite:///DC_airbnb.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [15]:
for i, row in clean_listings_df.iterrows():
    
    record = Listings(**{
        'airbnb_id' : row.airbnb_id,
        'name' : row.name,
        'host_id' : row.host_id,                       
        'host_name': row.host_name,                       
        'neighbourhood' : row.neighbourhood,                
        'latitude' : row.latitude,                       
        'longitude' : row.longitude,                         
        'room_type' : row.room_type,                       
        'price' : row.price,                              
        'minimum_nights' : row.minimum_nights,                    
        'number_of_reviews' : row.number_of_reviews,                   
        'reviews_per_month': row.reviews_per_month,                
        'calculated_host_listings_count' : row.calculated_host_listings_count,     
        'availability_365':row.availability_365 
})

    session.add(record)
session.commit()

In [16]:
row

airbnb_id                                                                18364166
name                                            Great PRV 1bd,1bath 2blocks to DC
host_id                                                                  23405709
host_name                                                                Samantha
neighbourhood                     Capitol View, Marshall Heights, Benning Heights
latitude                                                                  38.8854
longitude                                                                -76.9166
room_type                                                            Private room
price                                                                           0
minimum_nights                                                                  1
number_of_reviews                                                               0
reviews_per_month                                                               0
calculated_host_listings_count                                                  1
availability_365                                                              359
Name: 7780, dtype: object

In [17]:

Base = declarative_base()
class Crime(Base):
    __tablename__ = 'crime_table'

    id = Column(Integer, primary_key=True, nullable=False)
    neighirhood_cluster = Column(String(225))
    number_of_crimes = Column(Integer)
    neighbourhood  = Column(String(255)) 
    crime_rate =  Column(Float)


engine = create_engine("sqlite:///DC_airbnb.db")
Base.metadata.create_all(engine)

#Create the session
session = Session(bind=engine)

In [18]:
for i, row in clean_crime_df.iterrows():
    record = Crime(**{
         'neighirhood_cluster' : row.neighirhood_cluster,
         'number_of_crimes': row.number_of_crimes,
         'neighbourhood': row.neighbourhood,
         'crime_rate': row.crime_rate,
        
         
})

    session.add(record)
session.commit()

In [19]:
row

neighbourhood          Woodridge, Fort Lincoln, Gateway
neighirhood_cluster                          Cluster 24
number_of_crimes                                    589
crime_rate                                        1.801
Name: 38, dtype: object

In [20]:
Base = declarative_base()

In [21]:
engine = create_engine("sqlite:///DC_airbnb.db")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['crime_table', 'listings_table']

In [22]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.engine.reflection import Inspector

meta = MetaData()
user_table = Table('listings_table', meta)
insp = Inspector.from_engine(engine)
insp.reflecttable(user_table, None)

In [23]:
Listings=Base.classes.listings_table
Listings

sqlalchemy.ext.automap.listings_table

In [24]:
Crime=Base.classes.crime_table
Crime

sqlalchemy.ext.automap.crime_table

In [25]:
inspector = inspect(engine)
inspector.get_table_names()

['crime_table', 'listings_table']

In [26]:
columns = inspector.get_columns('listings_table')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
airbnb_id INTEGER
name VARCHAR(255)
host_id INTEGER
host_name VARCHAR(255)
neighbourhood VARCHAR(255)
latitude FLOAT
longitude FLOAT
room_type VARCHAR(255)
price INTEGER
minimum_nights INTEGER
number_of_reviews INTEGER
reviews_per_month FLOAT
calculated_host_listings_count INTEGER
availability_365 INTEGER

In [27]:
from sqlalchemy import inspect

mapper = inspect(Listings)
print(mapper)

Mapper|listings_table|listings_table

In [28]:
from sqlalchemy import inspect

mapper = inspect(Crime)
print(mapper)

Mapper|crime_table|crime_table

In [29]:
Session = sessionmaker(bind=engine)
# Session is a class
session = Session()
# now session is a instance of the class Session

In [30]:
engine.execute('SELECT * FROM listings_table LIMIT 5').fetchall()

[(1, 4873463, b'\x00\x00\x00\x00\x00\x00\x00\x00', 7220554, 'TheoDora', 'Dupont Circle, Connecticut Avenue,K Street', 38.91518263, -77.03925945, 'Entire home,apt', 95, 2, 29, 1.01, 3, 53),
 (2, 16736650, b'\x01\x00\x00\x00\x00\x00\x00\x00', 47945335, 'Nina', 'Dupont Circle, Connecticut Avenue,K Street', 38.91258032, -77.04272065, 'Entire home,apt', 200, 1, 2, 0.55, 1, 0),
 (3, 14999877, b'\x02\x00\x00\x00\x00\x00\x00\x00', 10325135, 'Rory', 'Dupont Circle, Connecticut Avenue,K Street', 38.91706161, -77.03586862, 'Entire home,apt', 100, 27, 0, 0.0, 1, 0),
 (4, 5955860, b'\x03\x00\x00\x00\x00\x00\x00\x00', 3873893, 'Feras', 'Dupont Circle, Connecticut Avenue,K Street', 38.90981485, -77.04612379, 'Entire home,apt', 129, 2, 79, 3.13, 2, 324),
 (5, 15655208, b'\x04\x00\x00\x00\x00\x00\x00\x00', 73613929, 'Courtney', 'Dupont Circle, Connecticut Avenue,K Street', 38.91675913, -77.04034922, 'Entire home,apt', 500, 2, 1, 1.0, 1, 81)]

In [31]:
engine.execute('SELECT * FROM crime_table').fetchall()

[(1, 'Cluster 18', 1411, 'Brightwood Park, Crestwood, Petworth', 4.314456947162427),
 (2, 'Cluster 22', 1244, 'Brookland, Brentwood, Langdon', 3.803816046966732),
 (3, 'Cluster 26', 1461, 'Capitol Hill, Lincoln Park', 4.467343444227006),
 (4, 'Cluster 33', 923, 'Capitol View, Marshall Heights, Benning Heights', 2.8222847358121337),
 (5, 'Cluster 14', 235, 'Cathedral Heights, McLean Gardens, Glover Park', 0.7185665362035225),
 (6, 'Cluster 15', 328, 'Cleveland Park, Woodley Park, Massachusetts Avenue Heights, Woodland-Normanstone Terrace', 1.0029354207436398),
 (7, 'Cluster 16', 150, 'Colonial Village, Shepherd Park, North Portal Estates', 0.4586594911937377),
 (8, 'Cluster 2', 2654, 'Columbia Heights, Mt. Pleasant, Pleasant Plains, Park View', 8.115215264187867),
 (9, 'Cluster 39', 1284, 'Congress Heights, Bellevue, Washington Highlands', 3.926125244618396),
 (10, 'Cluster 31', 950, 'Deanwood, Burrville, Grant Park, Lincoln Heights, Fairmont Heights', 2.9048434442270064),
 (11, 'Cluster 38', 568, 'Douglas, Shipley Terrace', 1.7367906066536205),
 (12, 'Cluster 8', 2307, 'Downtown, Chinatown, Penn Quarters, Mount Vernon Square, North Capitol Street', 7.054182974559686),
 (13, 'Cluster 6', 1605, 'Dupont Circle, Connecticut Avenue,K Street', 4.907656555772994),
 (14, 'Cluster 29', 77, 'Eastland Gardens, Kenilworth', 0.23544520547945205),
 (15, 'Cluster 21', 1103, 'Edgewood, Bloomingdale, Truxton Circle, Eckington', 3.3726761252446185),
 (16, 'Cluster 35', 377, 'Fairfax Village, Naylor Gardens, Hillcrest, Summit Park', 1.1527641878669277),
 (17, 'Cluster 11', 508, 'Friendship Heights, American University Park, Tenleytown', 1.5533268101761248),
 (18, 'Cluster 4', 1064, 'Georgetown, Burleith,Hillandale', 3.2534246575342465),
 (19, 'Cluster 10', 256, 'Hawthorne, Barnaby Woods, Chevy Chase', 0.7827788649706457),
 (20, 'Cluster 28', 378, 'Historic Anacostia', 1.1558219178082192),
 (21, 'Cluster 3', 1459, 'Howard University, Le Droit Park, Cardozo,Shaw', 4.461227984344423),
 (22, 'Cluster 23', 1403, 'Ivy City, Arboretum, Trinidad, Carver Langston', 4.2899951076320955),
 (23, 'Cluster 1', 713, 'Kalorama Heights, Adams Morgan, Lanier Heights', 2.1801614481409004),
 (24, 'Cluster 19', 525, 'Lamont Riggs, Queens Chapel, Fort Totten, Pleasant Hill', 1.6053082191780823),
 (25, 'Cluster 30', 548, 'Mayfair, Hillbrook, Mahaning Heights', 1.6756360078277883),
 (26, 'Cluster 27', 292, 'Near Southeast, Navy Yard', 0.8928571428571428),
 (27, 'Cluster 12', 180, 'North Cleveland Park, Forest Hills, Van Ness', 0.5503913894324853),
 (28, 'Cluster 20', 355, 'North Michigan Park, Michigan Park, University Heights', 1.0854941291585127),
 (29, 'Cluster 32', 828, 'River Terrace, Benning, Greenway, Dupont Park', 2.5318003913894325),
 (30, 'Cluster 7', 1169, 'Shaw, Logan Circle', 3.5744863013698627),
 (31, 'Cluster 37', 406, 'Sheridan, Barry Farm, Buena Vista', 1.2414383561643836),
 (32, 'Cluster 9', 688, 'Southwest Employment Area, Southwest,Waterfront, Fort McNair, Buzzard Point', 2.1037181996086103),
 (33, 'Cluster 13', 197, 'Spring Valley, Palisades, Wesley Heights, Foxhall Crescent, Foxhall Village, Georgetown Reservoir', 0.6023727984344422),
 (34, 'Cluster 17', 891, 'Takoma, Brightwood, Manor Park', 2.7244373776908017),
 (35, 'Cluster 34', 814, 'Twining, Fairlawn, Randle Highlands, Penn Branch, Fort Davis Park, Fort Dupont', 2.48899217221135),
 (36, 'Cluster 25', 1918, 'Union Station, Stanton Park, Kingman Park', 5.8647260273972615),
 (37, 'Cluster 5', 547, 'West End, Foggy Bottom, GWU', 1.6725782778864968),
 (38, 'Cluster 36', 299, 'Woodland,Fort Stanton, Garfield Heights, Knox Hill', 0.9142612524461841),
 (39, 'Cluster 24', 589, 'Woodridge, Fort Lincoln, Gateway', 1.8010029354207435)]

In [32]:
for instance in session.query(Listings)[1:3]:
    print(instance.name)

b'\x01\x00\x00\x00\x00\x00\x00\x00'
b'\x02\x00\x00\x00\x00\x00\x00\x00'

In [33]:
import struct
value = struct.unpack('<q', b'\x02\x00\x00\x00\x00\x00\x00\x00')
value

value[0]

2